body {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: #a62323;
}

.button {
	box-shadow: 0px 0px 5px 2px black;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid black;
	display:inline-block;
    color: black;
	cursor:pointer;
	font-family: 'Playfair Display', serif;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button:active {
	position:relative;
	top:1px;
}

.button:focus{
    outline:0px;
}